html {
  font-size: 100%;
  line-height: 1.5; }
  @media all and (min-width: 400px) {
    html {
      font-size: 112.5%; } }
  @media all and (min-width: 1000px) {
    html {
      font-size: 125%; } }

h1 {
  margin: 0;
  margin-top: 3rem;
  font-size: 1.5rem;
  line-height: 1.3;
  padding-top: 0.48em;
  margin-bottom: -0.48em; }
  @media all and (min-width: 400px) {
    h1 {
      font-size: 1.625rem;
      padding-top: 0.52em;
      margin-bottom: -0.52em; } }
  @media all and (min-width: 1000px) {
    h1 {
      font-size: 1.875rem;
      padding-top: 0.6em;
      margin-bottom: -0.6em; } }

p {
  margin: 0;
  margin-top: 1.5rem;
  padding-top: 0.42em;
  margin-bottom: -0.42em; }
  @media all and (min-width: ) {
    p {
      padding-top: 0.4725em;
      margin-bottom: -0.4725em; } }
  @media all and (min-width: ) {
    p {
      padding-top: 0.525em;
      margin-bottom: -0.525em; } }

body {
  font-family: Helvetica;
  max-width: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 24px);
  background-size: 100% 24px;
  background-position: 0 0; }
  @media all and (min-width: 400px) {
    body {
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 27px);
      background-size: 100% 27px; } }
  @media all and (min-width: 1000px) {
    body {
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 30px);
      background-size: 100% 30px; } }
