/* Iterates through both $typi-ms */
h1 {
  font-size: 1.44rem;
  line-height: 1.2; }
  @media all and (min-width: 600px) {
    h1 {
      font-size: 4.2358rem;
      line-height: 1.3; } }
  @media all and (min-width: 800px) {
    h1 {
      font-size: 1.5rem;
      line-height: 1.3; } }
  @media all and (min-width: 1000px) {
    h1 {
      font-size: 1.33333rem;
      line-height: 1.3; } }

/* Iterates through both $typi-ms and $font-map */
h3 {
  font-size: 1.44rem; }
  @media all and (min-width: 600px) {
    h3 {
      font-size: 2.61792rem; } }
  @media all and (min-width: 800px) {
    h3 {
      font-size: 4.2358rem; } }
