@import 'typi';
@import '../bower_components/mappy-breakpoints/mappy-breakpoints';
@import '../bower_components/compass-breakpoint/stylesheets/breakpoint';

$breakpoints: (
  small: 400px,
  medium: 800px,
  large: 1200px
  );

$typi: (
  null: (16px, 1.5),
  small: 18px,
  large: (20px, 1.6)
  );


$h1: (
  null: (2em, 1.2),
  small: (3em, 1.3),
  large: 44px
  );

html {
  @include typi-base();
}

h1 {
  @include typi($h1);
}

$typi-breakpoint: mappy-bp;


html {
  @include typi-base();
}

h1 {
  @include typi($h1);
}

$typi-breakpoint: breakpoint;

html {
  @include typi-base();
}

h1 {
  @include typi($h1);
}
