$typi-ms: (
  singleRatio: 1.2,
  doubleRatio: 1.2 1.5,
  tripleRatio: 1.2 1.5 1.8,
  singleBaseSingleRatio: (2em, 1.2),
  doubleBase: (2em, 3em, 1.2),
  doubleBaseDoubleRatio: (1em 2em, 1.2 1.5)
);

@include test-module("Modular Scale Function") {
  @include test("should ms query for 1 ratio") {
    $test: _ty-ms(2, $breakpoint: singleRatio);
    $result: ms(2, 1em, 1.2);

    @include assert-equal($test, $result);
  }


  @include test("should ms query for 2 ratio") {
    $test: _ty-ms(2, $breakpoint: doubleRatio);
    $result: ms(2, 1em, 1.2 1.5);

    @include assert-equal($test, $result);
  }


  @include test("should ms query for 3 ratio") {
    $test: _ty-ms(2, $breakpoint: tripleRatio);
    $result: ms(2, 1em, 1.2 1.5 1.8);

    @include assert-equal($test, $result);
  }


  @include test("should ms query for 1 base & 1 ratio") {
    $test: _ty-ms(2, $breakpoint: singleBaseSingleRatio);
    $result: ms(2, 2em, 1.2);

    @include assert-equal($test, $result);
  }

  @include test("should ms query for 2 bases & 1 ratio") {
    $test: _ty-ms(2, $breakpoint: doubleBase);
    $result: ms(2, 2em 3em, 1.2);

    @include assert-equal($test, $result);
  }

  @include test("should ms query for 2 bases & 2 ratio") {
    $test: _ty-ms(2, $breakpoint: doubleBaseDoubleRatio);
    $result: ms(2, 1em 2em, 1.2 1.5);

    @include assert-equal($test, $result);
  }
}