@include test-module('Modular Scale') {
  @include test('should ms query for 1 ratio') {
    $test: typi-ms(2, $breakpoint: null);
    $result: ms(2, 1em, 1.2);
    @include assert-equal($test, $result)
  }

  @include test('should ms query for 2 ratio') {
    $test: typi-ms(2, $breakpoint: small);
    $result: ms(2, 1em, 1.2 1.5);
    @include assert-equal($test, $result)
  }

  @include test('should ms query for 3 ratio') {
    $test: typi-ms(2, $breakpoint: weird);
    $result: ms(2, 1em, 1.2 1.5 1.8);
    @include assert-equal($test, $result)
  }

  @include test('should ms query for 1 base & 1 ratio') {
    $test: typi-ms(2, $breakpoint: med);
    $result: ms(2, 2em, 1.2);
    @include assert-equal($test, $result)
  }

  @include test('should ms query for 2 bases & 2 ratio') {
    $test: typi-ms(2, $breakpoint: med);
    $result: ms(2, 2em, 1.2);
    @include assert-equal($test, $result)
  }
}