// Tests for Responsive Vertical Rhythm
@include test-module("RVR:") {
  @include test("Should output both REM values and custom var values") {
    @include assert("") {
      @include input {
        @include rvr(margin-top margin-bottom, 2)
      }

      @include expect {
        margin-top: 3rem;
        margin-top: calc(var(--baseline) * 2rem);
        margin-bottom: 3rem;
        margin-bottom: calc(var(--baseline) * 2rem);
      }
    }
  }
}