$breakpoints: (
  small: 400px,
  medium: 800px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
  small: 18px,
  med: 18px,
  large: (20px, 1.6)
);

$h1: (
  null: (2em, 1.2),
  small: (3em, 1.3),
  large: 44px
);

// Rem function should always get REM unit from the current font size.


@include test-module('Write Properites for one breakpoint:') {
  @include test('Writes font-size only') {
    @include assert('') {
      $target-size: map-get($h1, large);
      $test-font-size: _ty-calc-font-size($target-size, large, $typi, false);

      @include input {
        @include _ty-write-props((
          target: $h1,
          breakpoint: large,
          typi: $typi,
          base: false,
          rem: false
        ));
      }

      @include expect {
        font-size: $test-font-size;
      }
    }
  }

  @include test('Writes font-size and line-height') {
    @include assert('') {
      @include input {
        @include _ty-write-props((
          target: $h1,
          breakpoint: null,
          typi: $typi,
          base: false,
          rem: true
        ));
      }

      @include expect {
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }
}

@include test-module('Typi Base Font Conversion') {
  @include test('px to %') {
    $test: _ty-base-size(20px);
    $result: 125%;
    @include assert-equal($test, $result, 'Pixels are converted into percentages with 16px as base');
  }
}

// Note: Unable to test output with media query, rely on eyeballing in scss/test.scss
@include test-module('Test Typi Mixin') {
  @include test('Should create output with rem unit by default') {
    @include assert('') {
      @include input {
        @include typi($h1) ;
      }

      @include expect {
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }

  @include test('Should create output with em unit') {
    @include assert('') {
      @include input {
        @include typi($h1, $rem:false);
      }

      @include expect {
        font-size: 2em;
        line-height: 1.2;
      }
    }
  }
}
