@import 'true';
@import '../bower_components/modular-scale/stylesheets/_modular-scale';
@import '../scss/typi';

$breakpoints: (
  small: 400px,
  medium: 800px,
  large: 1200px
);

$typi: (
  null: (16px, 1.5),
  small: 18px,
  med: 18px,
  large: (20px, 1.6)
);

$typi-ms: (
  null: 1.2,
  small: 1.2 1.5,
  weird: 1.2 1.5 1.8,
  med: 2em 1.2,
  large: (1em 2em, 1.2 1.5)
);

$h1: (
  null: (2em, 1.2),
  small: (3em, 1.3),
  large: 44px
);

@import 'vr';
@import 'typi';
@import 'ms';

@include report;


