// Vertical Rhythms
// ----------------
// Test Vertical Rhythm calculations
// - Normal VR
// ================
$typi: (
  base: (
    null: (18px, 1.5),
    small: 20px,
  ),
  h1: (
    null: (0, 1.3),
    small: 1,
    med: 2,
    large: 3,
    huge: 4
  )
);

$basemap: map-get($typi, base);
$base-font-size: nth(map-fetch($typi, base null), 1);
$base-line-height: nth(map-fetch($typi, base null), 2);

@include test-module('Normal VR') {
  @include test('-> rem') {
    $test: vr(3);
    $result: $base-line-height * 3 * 1rem;
    @include assert-equal($test, $result);
  }

  @include test('px -> em') {
    $test: vr(3, 18px);
    $result: 3 * $base-font-size * $base-line-height / 18px * 1em;
    @include assert-equal($test, $result);

    $test2: vr(2, 30px);
    $result2: 2 * $base-font-size * $base-line-height / 30px * 1em;
    @include assert-equal($test2, $result2)
  }

  @include test('em -> em') {
    $test: vr(2, 1.25em);
    $result: 3em / 1.25em * 1em;
    @include assert-equal($test, $result);
  }
}
