@import 'init';

@mixin typi (
  $target,
  $typeface: null,
  $typi: $typi,
  $typi-ms: $typi-ms,
  $typefaces: $typefaces,
  $breakpoints: $breakpoints,
  $rem: true
) {
  @include _ty-write-breakpoints((
    breakpoints: $breakpoints,
    output: 'props',
    rem: $rem,
    target: $target,
    typeface: $typeface,
    typefaces: $typefaces,
    typi-ms: $typi-ms,
    typi: $typi
  ))
}

// Typi-base mixin
// ----------
// - Creates styles for html selector
// ==========
@mixin typi-base(
  $typi: $typi,
  $typi-ms: $typi-ms,
  $breakpoints: $breakpoints,
  $selector: 'html'
) {
  #{$selector} {
    @include typi(
      $target: base,
      $typi: $typi,
      $typi-ms: $typi-ms,
      $breakpoints: $breakpoints,
      $rem: false
    )
  }
}

