// _ty-get-base-font
@function _ty-get-base-font($typi) {
  $base-map: map-get($typi, null);
  @return nth($base-map, 1);
}

// _ty-get-base-line-height
@function _ty-get-base-line-height($typi) {
  $base-map: map-get($typi, null);
  $base-line-height: null;

  @if length($base-map) > 1 {
    $base-line-height: nth($base-map, 2);
  } @else {
    @error "$typi map should contain a second argument (line-height) in the `null` key";
  }

  @if not unit($base-line-height) == "" {
    @error "line-height multiple on the `null` key should be unitless";
  }

  @return $base-line-height;
}

// _ty-get-font-size
// ----------
// Gets font-size from font-map-breakpoint
// ==========
@function _ty-get-font-size ($font-map-breakpoint) {
  @if type-of($font-map-breakpoint) == 'number' {
    @return $font-map-breakpoint;
  } @else {
    @return nth($font-map-breakpoint, 1);
  }
}

// _ty-get-line-height
// ----------
// Gets line-height from font-map-breakpoint
// ==========
@function _ty-get-line-height ($font-map-breakpoint) {
  @if type-of($font-map-breakpoint) == 'list' {
    @return nth($font-map-breakpoint, 2);
  } @else {
    @return false;
  }
}

// _ty-get-base-font-2
// ==========
@function _ty-get-base-font-size-2($basemap) {
  $base-null: map-get($basemap, null);
  @return _ty-get-font-size($base-null);
}

// _ty-get-base-line-height-2
// ==========
@function _ty-get-base-line-height-2($basemap) {
  $base-null: map-get($basemap, null);
  $base-line-height: _ty-get-line-height($base-null);

  @if not $base-line-height {
    @error "Typi base map requires line-height multiple in null key"
  }

  @if not unitless($base-line-height) {
    @error "Line-height in $typi base map should be unitless"
  }

  @return $base-line-height;
}