// _Ty-map-extender
// ----------
// - Extends $typi-ms and all target maps
//   to include breakpoints from breakpoints map
// ==========

@function _ty-map-extender(
  $target: null,
  $typi: $typi,
  $typi-ms: $typi-ms,
  $breakpoints: $breakpoints
) {
  // If it contains a target, means iterating over $typi map
  @if $target {
    // $_o only used to called function. Never used otherwise.
    $_o: _ty-extend-typi($target);
  }

  // Extends $typi-ms
  @else {
    $_o: _ty-extend-typi-ms()
  }

  @return true;
}

// _ty-extend-typi
// ----------
// - Formulates Ensures $typi has target font-map before continuing.
// ==========
@function _ty-extend-typi($target) {
  $_return: $typi;
  $_target-map: null;
  $_prev-breakpoint: null;
  $_overwrite-value: null;

  @if map-has-key($typi, $target) {
    $_target-map: map-get($typi, $target);
  } @else {
    @error '$typi should contain #{$target}';
  }

  // Initializes $_overwrite-value
  @if map-has-key($_target-map, null) {
    $_overwrite-value: map-get($_target-map, null);
  } @else {
    @error "#{$_target-map} must contain a null key";
  }

  @each $breakpoint, $value in $breakpoints {
    // Updates overwrite value if has target map
    @if map-has-key($_target-map, $breakpoint) {
      $_overwrite-value: map-get($_target-map, $breakpoint);
    }

    // Overwrites relevant map otherwise
    @else {
      $_return: map-deep-set(
        $_return,
        $target $breakpoint,
        $_overwrite-value
      );
      $typi: map-merge($typi, $_return) !global;
    }

    // Sets values for next loop
    $_prev-breakpoint: $breakpoint;
  }

  @return true;
}

// _ty-set-map
// ----------
// - Overwrites $global map
// ==========
@function _ty-extend-typi-ms() {
  $_return: $typi-ms;
  $_prev-breakpoint: 'null';
  $_overwrite-value: null;

  // Target map must always have a null key
  @if not map-has-key($_return, null) {
    @error "$typi-ms must contain a null key";
  }

  // Initializes $_overwrite-value
  $_overwrite-value: map-get($_return, null);

  @each $breakpoint, $value in $breakpoints {
    // Updates overwrite value if already in $typi-ms
    @if map-has-key($_return, $breakpoint) {
      $_overwrite-value: map-get($_return, $breakpoint);
    }

    // Overwrites relevant map otherwise
    @else {
      $_return: map-deep-set(
        $_return,
        $breakpoint,
        $_overwrite-value
      );
      $typi-ms: map-merge($typi-ms, $_return) !global;
    }

    // Sets values for next loop
    $_prev-breakpoint: $breakpoint
  }

  @return true;
}