// @mixin typi-2 (
//   $target: $target,
//   $breakpoints: $breakpoints,
//   $typi: $typi,
//   $rem: $rem
// ) {
//   @include _ty-write-breakpoints-2(
//     $target: $target,
//     $breakpoints: $breakpoints,
//     $typi: $typi,
//     $rem: $rem
//   )
// }

@mixin typi-base(
  $typi: $typi,
  $typeface: null,
  $typeface-map: $typefaces,
  $breakpoints: $breakpoints,
  $typi-ms: $typi-ms,
  $base: true,
  $rem: true
) {
  @include typi(
    $typi,
    $typeface: $typeface,
    $typeface-map: $typeface-map,
    $breakpoints: $breakpoints,
    $typi: $typi,
    $typi-ms: $typi-ms,
    $base: $base,
    $rem: $rem
  );
}

@mixin typi(
  $target-map,
  $typeface: null,
  $typeface-map: $typefaces,
  $breakpoints: $breakpoints,
  $typi: $typi,
  $typi-ms: $typi-ms,
  $base: false,
  $rem: true
) {
  $typi-map: (
    typeface: $typeface,
    typeface-map: $typeface-map,
    target: $target-map,
    breakpoints: $breakpoints,
    typi: $typi,
    base: $base,
    rem: $rem,
    ms: $typi-ms
  );

  $breakpoints-to-output: _ty-get-breakpoints($breakpoints, $typi-ms, $target-map);

  @each $breakpoint in $breakpoints-to-output {
    $target: $target-map;
    $typi-map: map-merge($typi-map, (breakpoint: $breakpoint));

    @if $breakpoint == null {
      @include _ty-write-props($typi-map);
    }

    @else {
      @if map-has-key($breakpoints, $breakpoint) {
        @include _ty-write-breakpoints($typi-map);
      } @else {
        @warn "Missing #{$breakpoint} in $breakpoints map";
      }
    }

    // Add previous valid breakpoint
    @if map-has-key($target, $breakpoint) {
      $typi-map: map-merge($typi-map, (last-valid-breakpoint: $breakpoint))
    }

    // Add previous valid ms
    @if type-of($typi-ms) == 'map' and map-has-key($typi-ms, $breakpoint)  {
      $typi-map: map-merge($typi-map, (last-valid-ms: $breakpoint))
    }
  }
}
