// _ty-output-props
// ----------
// Decides mixins used to write properties
// ==========
@mixin _ty-output-props (
  $_map: $_map,
  $breakpoint: $breakpoint
) {
  $target: map-get($_map, target);
  $target-map: map-get($_map, target-map);
  $output: map-get($_map, output);

  // Ensures breakpoint is present in target
  @if not map-has-key($target-map, $breakpoint) {
    @error "#{$target} does not have #{$breakpoint} breakpoint"
  }

  @if $target == 'base' {
    @include _ty-write-base($_map, $breakpoint);
  } @else if $output == 'props' {
    @include _ty-write-props($_map, $breakpoint);
  } @else if $output == 'vr' {
    // write VR here
  }
}

// _ty-write-base
// ----------
// Creates font-size and line-height for base map
// ==========
@mixin _ty-write-base ($_map, $breakpoint) {
  $target-map: map-get($_map, target-map);
  $font-map-breakpoint: map-get($target-map, $breakpoint);
  $font-size: _ty-get-font-size($font-map-breakpoint);
  $line-height: _ty-get-line-height($font-map-breakpoint);

  font-size: _ty-to-percentage($font-size);
  @if $line-height {
    line-height: $line-height;
  }
}

// _ty-write-props
// ----------
// Creates font-size and line-height properties
// ==========
@mixin _ty-write-props($_map, $breakpoint) {
  $target-map: map-get($_map, target-map);
  $font-map-breakpoint: map-get($target-map, $breakpoint);
  $basemap: map-get($_map, basemap);
  $rem: map-get($_map, rem);

  $font-size: _ty-get-font-size($font-map-breakpoint);
  $line-height: _ty-get-line-height($font-map-breakpoint);

  font-size: _ty-calc-font-size2(
    $font-size: $font-size,
    $basemap: $basemap,
    $breakpoint: $breakpoint,
    $rem: $rem
  );
  @if $line-height {
    line-height: $line-height;
  }
}