// _ty-write-props-2
// ----------
// - writes font-size and line-height
// ==========
@mixin _ty-write-props-2 (
  $_map: $_map,
  $breakpoint: $breakpoint
) {
  $target: map-get($_map, target);
  $target-map: map-get($_map, target-map);
  $basemap: map-get($_map, basemap);
  $rem: map-get($_map, rem);

  $font-size: null;
  $line-height: null;
  $target-value: null;

  // Ensures breakpoint is present in target
  @if not map-has-key($target-map, $breakpoint) {
    @error "#{$target} does not have #{$breakpoint} breakpoint"
  }

  $target-value: map-get($target-map, $breakpoint);

  // Only one value in the target => only font-size
  @if type-of($target-value) == 'number' {
    @if $target == 'base' {
      font-size: _ty-to-percentage($target-value);
    } @else {
      font-size: _ty-calc-font-size2(
        $font-size: $target-value,
        $basemap: $basemap,
        $rem: $rem
      );
    }

  }

  // Two numbers in value => font-size and line-height
  @else if type-of($target-value) == 'list' {
    $font-size: nth($target-value, 1);
    $line-height: nth($target-value, 2);

    @if $target == 'base' {
      font-size: _ty-to-percentage($font-size);
    } @else {
      font-size: _ty-calc-font-size2(
        $font-size: $font-size,
        $basemap: $basemap,
        $rem: $rem
      );
    }
    line-height: $line-height;
  } @else {
    @error "I also don't know what error!";
  }
}