
// _ty-breakpoint 
// ==============
// Allows use of breakpoint-sass and mappy-bp.
// Falls back to default method otherwise.
@mixin _ty-breakpoint(
  $target-map,
  $breakpoint,
  $typi,
  $base
) {
  @if $typi-breakpoint == breakpoint {
    @include breakpoint(map-get($breakpoints, $breakpoint)) {
      @include _ty-write-props($target-map, $breakpoint, $typi, $base);
    }
  } 

  @else if $typi-breakpoint == mappy-bp {
    @include mappy-bp($breakpoint) {
      @include _ty-write-props($target-map, $breakpoint, $typi, $base);
    }

  } 

  @else {
    @media all and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @include _ty-write-props($target-map, $breakpoint, $typi, $base);
    }
  }
}

// _ty-write-props
// ===============
// Writes font-size (and line height) properties
@mixin _ty-write-props (
  $target-map,
  $breakpoint, 
  $typi,
  $base
) {
  $bp-val: map-get($target-map, $breakpoint);
  $font-size: null;
  $line-height: null;

  @if type-of($bp-val) == "list" and length($bp-val) > 1 {
    $font-size: nth($bp-val, 1);
    $line-height: nth($bp-val, 2);
    font-size: _ty-font-size($font-size, $breakpoint, $typi, $base);
    line-height: $line-height;
  }
  @else {
    $font-size: $bp-val;
    font-size: _ty-font-size($font-size, $breakpoint, $typi, $base);
  }
}