
@mixin typi (
  $target-map,
  $breakpoints: $breakpoints,
  $typi: $typi, 
  $base: false
) {
  @each $breakpoint, $bp-val in $target-map {

    @if $breakpoint == null {
      @include _ty-write-props($target-map, $breakpoint, $typi, $base)
    }

    // Write media query
    @else if map-has-key($breakpoints, $breakpoint) {
      $min-width: map-get($breakpoints, $breakpoint);
    
      @media screen and (min-width: #{$min-width}) {
        @include _ty-write-props($target-map, $breakpoint, $typi, $base);
      }
    }

    @else {
      // Throws sass error
      @error $breakpoint not found in $breakpoints;
    }
  }
}

@mixin typi-base(
  $typi: $typi,
  $breakpoints: $breakpoints
) {
  @include typi($typi, $breakpoints, $typi, true);
}
