
@mixin typi (
  $target-map,
  $breakpoints: $breakpoints,
  $typi: $typi, 
  $base: false,
  $rem: false
) {
  $typi-map: (
    target: $target-map,
    breakpoints: $breakpoints,
    typi: $typi,
    base: $base,
    rem: $rem
  );

  @each $breakpoint, $bp-val in $target-map {
    $typi-map: map-merge($typi-map, (breakpoint: $breakpoint));
    @if $breakpoint == null {
      @include _ty-write-props($typi-map)
    }

    // Write media query
    @else if map-has-key($breakpoints, $breakpoint) {
      @include _ty-breakpoint($typi-map);
    }

    @else {
      // Throws sass error
      @error $breakpoint not found in $breakpoints;
    }
  }
}

@mixin typi-base(
  $typi: $typi,
  $breakpoints: $breakpoints
) {
  @include typi($typi, $breakpoints, $typi, true);
}
