@import 'scss/typi';
@import 'node_modules/modularscale-sass/stylesheets/_modular-scale';

$typi: (
  base: (
    null: (16px, 1.5)
  ),
  h1: (
    null: (ms(4), 1.3)
  )
);

/**
 * Should create two classes, .base and .h1
 */
@include typi-create-classes;

