@import '../../bower_components/modular-scale/stylesheets/_modular-scale';
@import '../../scss/typi';

$breakpoints: (
  small: 600px,
  med: 800px,
  large: 1000px
);

$typi-ms: (
  null: 1.2,
  small: 1.618,
  med: (1.2 1.5),
  large: (1em 2em, 1.2 1.5)
);

$output-all-ms-ratios: (
  null: (2, 1.2),
  small: (3, 1.3),
);

/* Iterates through both $typi-ms */
h1 {
  @include typi($output-all-ms-ratios);
}

$typi-ms: (
  null: 1.2,
  small: 1.618,
);

$output-both-ms-and-font-map-values: (
  null: 2,
  med: 3,
);

/* Iterates through both $typi-ms and $font-map */
h3 {
  @include typi($output-both-ms-and-font-map-values);
}