@import 'modular-scale/stylesheets/_modular-scale';
@import 'scss/typi';

$typi: (
  base: (
    null: (16px, 1.5),
    small: 20px,
  ),
  h1: (
    null: (1, 1.3),
    small: 1,
    med: 3,
  )
);

$breakpoints: (
  small: 'small',
  med: 'med',
);

$typi-ms: (
  null: 1.2,
  small: 1.3,
  med: 1.4,
);

.testing {
  @include vr-ms(margin-top, 2, $target: 'h1');
}